{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

<section id="background" style="position: relative; height: 470px; background-image: url('https://images.pexels.com/photos/942809/pexels-photo-942809.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')">
  <div class="px-4 py-5 mt-5 text-center" style="position: absolute; right: 70px; left:70px; background-color: white;">
    <h1 class="display-5 fw-bold text-body-emphasis pt-5">Add cafe</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Help us improve our database and promote local businesses.</p>
      <div class="d-grid gap-4 d-flex justify-content-center pt-2">
        <p>🔌 - has sockets</p>
        <p>ᯤ - has wi-fi</p>
        <p>📞 - can take calls</p>
        <p>🚽 - has toilet</p>
      </div>
    </div>
  </div>
</section>

  <div class="container py-5">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>

</body>
</html>

{% endblock %}